@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-style($bg-color, $color: white) {
    background-color: $bg-color;
    color: $color;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
